<config>
    <data>
        <path>KMNIST</path>
        <image_size>28</image_size>
        <load_with_info>True</load_with_info>
    </data>
    <train>
        <batch_size>64</batch_size>
        <nrof_epoch>20</nrof_epoch>
        <optimizer>
            <type>adam</type>
        </optimizer>
        <metrics>accuracy</metrics>
        <metrics>balanced_accuracy</metrics>
    </train>
    <model>
        <input>28</input>
        <input>28</input>
        <input>1</input>
        <up_stack>
            <layer_1>128</layer_1>
            <layer_2>128</layer_2>
        </up_stack>
        <acivation_function>RELU</acivation_function>
        <output>10</output>
    </model>
</config>